 main{
     display:flex;
     flex-direction: column;
     justify-content: center;
 }

h1{
    font-size: x-large; 
    color:white;
}

li{
    margin:0.5rem;
} 

.informacoes{
    margin-left:0.5rem; 
}

.contato{
    border: 0.1rem solid black;
    margin: 1rem;
    padding:0.5rem;
}

h3{
    margin: 0.5rem 0rem 0rem 1rem;
}

.descricao{
    margin: 0.5rem 1rem 0rem 2rem;

    font-family: 'Roboto Slab', 'Noto Serif', serif;
}
