h1{
    font-size: x-large; 
    margin-left:4rem;
    color: white;
}

h3{
    margin:1rem 0rem 0rem 1rem;
}

.formulario{
    margin: 1rem 0rem 0rem 2rem;
}

form{ 
    display: flex;
    flex-direction: column;
}

input{
    width: 90%;
}

.formulario_faixa_salarial{
    margin: 1rem 0rem 0rem 2rem;
}

div{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 95%;
}

.barra{
    margin:0rem 0.5rem 0rem 0rem;
}

.dimdim1,.dimdim2{
    margin-left:0.2rem;
}

.botao_ir{
    display: flex;
    justify-content: center;
    align-items: center;

    margin:2rem;
    padding:1rem;

    border: 0.1rem solid black;
    border-radius: 1rem;

    font-size: large;
    color:white;
    background-color: #002699; 
}

a{
    text-decoration:none;
    color:white;
}

li{
    position:relative;
}

.i{
    position: absolute;
    top:-0.9rem;
    left: -2rem; 
    margin:1rem;
    font-size:0.8rem;
    width: 0.8rem;
    height: 0.8rem;
}

.janela {
    display:none;
    position: absolute;
    bottom:2.5rem;
    right: 1rem;
    width: 20rem;
    padding:0.2rem;
    background-color:#808080;
    color: black;
  }
  
  .fechar{
    margin-top:0.5rem;
    text-decoration:underline;
    font-size:x-small;
  }